@font-face {
  font-family: Benton;
  src: url(/fonts/benton.woff2);
}

@font-face {
  font-family: Gracia;
  src: url(/fonts/gracia.woff2);
}

@font-face {
  font-family: Reader;
  src: url(/fonts/reader.woff2);
}

body {
  font-family: Reader;
}

h1 {
  letter-spacing: -1.5px;
  font-size: 6rem;
  font-weight: light;
  font-family: Benton;
}

h2 {
  letter-spacing: -0.5px;
  font-size: 3.75rem;
  font-family: Benton;
}

h3 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-family: Benton;
}

h4 {
  letter-spacing: 0.25px;
  font-size: 2.125rem;
  font-family: Benton;
}

h5 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-family: Benton;
}

h6 {
  letter-spacing: 0.15px;
  font-size: 1.25rem;
  font-family: Reader;
}

p {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-family: Reader;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

pre code {
  color: #fbfbf8;
  background-color: #161032;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  overflow-x: scroll;
  font-family: "Menlo";
}

pre {
  white-space: pre-wrap;
  font-family: "Menlo";
}

li {
  margin-bottom: 8px;
}

.title-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

.title-logo {
  width: 300px;
}

@media (max-width: 600px) {
  .title-logo {
    width: 200px;
  }
}
