.shell-buffer {
  overflow-y: scroll;
  max-height: 390px;
}

.page {
  border: 4px solid black;
}

.content {
  font-family: "Menlo";
  height: 390px;
  font-size: 1rem;
}

.shell-input {
  background: none;
  width: 80%;
  border: none;
}
