<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="author" content="HG King" />
        <meta
          name="description"
          content="A collection of web based artworks and other artistical studies
          on mathematical forms, patterns, and the like."
        />
        <title>{{title}}</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any">
    </head>
    <body>
      <div class="content">
        <header class="title-header">
          <h2>¬DIGITHEQUE</h2>
        </header>
        <main>
          <a href="/">home</a>
          <br>
          {{body}}
        </main>
        <img alt="line-break" src="/img/curly-break-2.svg" width="100%" />
        <footer class="footer"></footer>
      </div>
    </body>
</html>
