<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta charset="utf-8" />
  <meta name="author" content="HG King" />
  <meta name="description" content="A collection of web based artworks and other artistical studies
          on mathematical forms, patterns, and the like." />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/fontface.css" />
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/theme.css" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any">
</head>

<body>
  <header class="title-header">
    <div>
      <h2 class="title">
        <a href="/" class="normal-letter-space">DIGITHEQUE</a>
      </h2>
      <h5 class="byline">Technical Collective</h5>
    </div>
    <img class="title-image" src="/img/johnny-automatic-two-devils.svg" alt="two-devils" />
  </header>
  <main>
    <a href="/articles">back</a>
    <br>
    {{body}}
  </main>
  <footer>
  </footer>
</body>

</html>