<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="author" content="HG King" />
        <meta
          name="description"
          content="A collection of web based artworks and other artistical studies
          on mathematical forms, patterns, and the like."
        />
        <title>{{title}}</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
          async
          src="https://www.googletagmanager.com/gtag/js?id=G-H3607QVCP7"
        ></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag("js", new Date());

          gtag("config", "G-H3607QVCP7");
        </script>
        <link rel="stylesheet" href="/style.css"/ >
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any">
    </head>
    <body>
      <main>
        <a href="/articles">back</a>
        <br>
        {{body}}
      </main>
    </body>
</html>
