<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="author" content="HG King" />
        <meta
          name="description"
          content="A collection of web based artworks and other artistical studies
          on mathematical forms, patterns, and the like."
        />
        <title>{{title}}</title>
        <link rel="stylesheet" href="/style.css"/ >
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any">
    </head>
    <body>
      <header class="title-header">
        <span id="title-date">ABC</span>
        <a href="/"><object type="image/svg+xml" data="/img/logo.svg" alt="LOGO" ></object></a>
        <span id="title-tag">Technical<br>Collective</span>
      </header>
      <main>
        <a href="/recipes">back</a>
        <br>
        {{body}}
      </main>
      <img alt="line-break" src="/img/curly-break-2.svg" width="100%" />
      <footer class="footer"></footer>
      <script>
        var title_date = document.getElementById("title-date");
        var today = new Date();
        var date = today.toDateString().split(" ");
        title_date.innerHTML = `${date[0]} ${date[2]},<br>${date[1]} ${date[3]}`;
      </script>
    </body>
</html>
