<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="author" content="HG King" />
    <meta
      name="description"
      content="A collection of web based artworks and other artistical studies
          on mathematical forms, patterns, and the like."
    />
    <title>{{error}}</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
  </head>
  <body style="text-align: center;">
    <div class="content">
      <header class="title-header">
        <h2>Digitheque.io</h2>
      </header>
      <main style="display: flex; align-items: flex-end; justify-content: space-around;">
        <h1>{{error}}</h1>
      </main>
      <h4><a href="/">BACK</a></h4>
      <img alt="line-break" src="/img/curly-break-2.svg" width="100%" />
      <footer class="footer"></footer>
    </div>
  </body>
</html>