.swatch {
  text-align: right;
  color: ${darkOrLight(color)};
  height: ${height}px;
  width: ${height}px;
  background-color: ${color};
  border: 1px solid ${theme.colors.black};
  padding: 24px;
}
