* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #434127;
  background-color: oldlace;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: -10000;
  font-family: "Benton Modern", "times new roman", times, serif;
  font-size: 1.25rem;
  line-height: 1.35;
  text-shadow: none;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-feature-settings: "liga", "kern";
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-bottom: 1px solid currentColor;
  margin-top: 1rem;
  margin-left: 8rem;
  margin-right: 6rem;
  padding-left: 1rem;
}

main {
  margin-left: 8rem;
  margin-right: 6rem;
  padding-left: 1rem;
  margin-bottom: 3rem;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  border-top: 1px solid currentColor;
  margin-left: 8rem;
  margin-right: 6rem;
  padding: 1rem;
}

h1 {
  font-size: 6rem;
  line-height: 1.1;
  font-weight: normal;
}

h2 {
  font-size: 3.75rem;
  line-height: 1.1;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: normal;
}

h3 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 16px;
  margin-top: 30px;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: "BentonModernDispExtraCondLight", "times new roman", times, serif;
  letter-spacing: normal;
}

h4 {
  font-size: 2.125rem;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 17px;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 12px;
}

h6 {
  font-size: 1.25rem;
  line-height: 21px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.07em;
}

p,
blockquote {
  margin-bottom: 1rem;
}

blockquote {
  border-left: 1px solid currentColor;
  margin-left: 1rem;
  padding-left: 16px;
  padding-right: 4rem;
}

button {
  background-color: #434127;
  color: oldlace;
  font-size: 1.2rem;
  font-family: "Benton Modern", "times new roman", times, serif;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  border-radius: 0px;
  border: none;
  font-variant-caps: all-small-caps;
  cursor: pointer;
}

.title {
  font-family: BentonModernDispExtraCond, "times new roman", times, serif;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: -7px;
}

.title-image {
  margin-bottom: -19px;
  margin-right: 24px;
  width: 335px;
}

.byline {
  font-family: "Benton Modern";
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.summary {
  font-family: "Benton Modern";
  font-weight: normal;
  font-size: 1.4rem;
}

a {
  color: currentColor;
  text-decoration: none;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.07rem;
  transition: background-color 0.5s;
}

a:hover {
  background-color: #7ca2b8aa;
}

.away::after {
  content: "°";
  color: #b83035;
}

.normal-letter-space {
  letter-spacing: normal;
  text-transform: none;
  font-variant-caps: normal;
}

pre code {
  color: #fbfbf8;
  background-color: #161032;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  overflow-x: scroll;
  font-family: "Menlo";
}

pre {
  white-space: pre-wrap;
  font-family: "Menlo";
  font-size: 0.8rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.arrow {
  cursor: pointer;
  fill: none;
  stroke: black;
}

textarea {
  width: 100%;
  height: 400px;
  outline: none;
  overflow: auto;
}

input[type="number"] {
  font-family: "Benton Modern";
  font-size: 1.1rem;
  width: 58px;
  text-align: center;
  background-color: transparent;
  color: inherit;
  border: 1px solid currentColor;
}

.emptyButton {
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  height: 18px;
  background-color: inherit;
  color: inherit;
}

ul {
  list-style-type: square;
}

.animator {
  /* display: flex;
  justify-content: space-around; */
}

.six-hundred {
  max-width: 600px;
}

.five-hundred {
  max-width: 500px;
}

.options-bar {
}

.green {
  color: #20852b;
}

.red {
  color: #b83035;
}

@media only screen and (max-width: 640px) {
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  main {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .title-image {
    margin-bottom: -14px;
    width: 269px;
  }
}
